# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
.env/
venv.bak/
env.bak/

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos generados por la aplicación
*.xlsx
*.docx
*.xml
custom_prompts.json
config.json

# Archivos de distribución de Python
build/
dist/
*.egg-info/
*.egg

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Backup de onedrive
onedrive_backup